<div class="container">
    <app-header></app-header>
    <div class="">
        <div class="all registration-form">
            <div class="flex-1">
                <div class="">
                    <h1>Connectez-vous à votre compte</h1>
                    <form action="#" method="post">
                        <div class="input-icon">
                            <input type="email" name="email" placeholder=" Votre e-mail" required>
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="input-icon">
                            <input type="password" name="password" placeholder=" Mot de passe" required>
                            <i class="fa-solid fa-lock"></i>
                            <i class="fa-solid fa-eye"></i>
                            <div class="eye">
                            </div>
                        </div>
                        <a href="#">Mot de passe oublié?</a>
                        <button type="submit">Login</button>

                    </form>

                </div>

            </div>
            <div class="flex-1">
                <div>
                <img [src]="ImagePath5" class="image">
                <div class="text-image"><b>CHEF <br> D'ENTERPOT</b></div>
                </div>
             </div>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>