
    <app-header></app-header>
    <div class="registration-form">
            <h1>Registration Form</h1>
            <form action="#" method="post">
                <p>First Name</p>
                <input type="text" name="firstname" placeholder="Firstname" required>
                <p>Last Name</p>
                <input type="text" name="lastname" placeholder="Lastname" required>
                <p>Email</p>
                <input type="email" name="email" placeholder="Email" required>
                <p>Password</p>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
        </form>
<app-footer></app-footer>
