
* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.registration-form {
    width: 500px;
    padding: 40px;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.registration-form h1 {
    text-align: center;
    margin-bottom: 20px;
}


.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: #0056b3;
}
